[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
python-docs-theme = "*"
pytest = "*"
autopep8 = "*"
tox = "*"

[dev-packages]

[requires]
python_version = "3.8"
